.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: white;
  /*background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);*/
  height: 400px;
}

.card-head {
  padding-top: 30px;
  height: 100px;
  max-height: 90px;
  font-size: larger;
  overflow: hidden;
}

.card-head h4 {
  text-transform: capitalize;
  margin: auto;
  text-align: center;
}

.card-body {
  height: 150px;
  max-height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

.read-more {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.tag {
  text-transform: capitalize;
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-generic {
  background: rgb(99, 99, 99);
  color: #fafafa;
  text-align: center;
}
/*
.tag-coding {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
}
*/

.card__footer {
  width: auto;
  margin-top: 10px;
  position: relative;
  margin-bottom: 0;
}

.card__footer h5 {
  margin: 0px;
  margin-bottom: 1em;
}

.user {
  display: flex;
  width: 100%;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.card a {
  color: inherit;
  text-decoration: inherit;
}

.card button:hover {
  color: #ffffff;
  text-decoration: underline;
  background-color: #42caff;
}

.card .votes {
  margin: 0;
  width: 50%;
  background-color: green;
  color: white;
  display: inline;
}

.card .votes p {
  margin: 0;
  width: 100%;
  font-size: 18px;
  text-align: center;
  background-color: rgb(99, 99, 99);
  color: white;
}

.card .comment-count {
  margin: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
}
