.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ffffff;
  /*background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);*/
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  text-transform: capitalize;
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
  margin: 10px;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-generic {
  background: #ff0000;
  color: #fafafa;
}
/*
.tag-coding {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
}

.tag-cooking {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
}

.tag-football {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
}
*/
.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: red;
  text-decoration: underline;
}
