.comment-section {
  background-color: white;
  padding: 2em;
  max-width: 50em;
  margin: auto;
}

/* .comment-section .comment {
} */

.comment-section .comment img {
  border-radius: 1000px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: inline-block;
}

.comment-section .comment h4 {
  margin-bottom: 1em;
  margin-top: 2em;
  display: inline-block;
}

.comment-section button {
  display: block;
  margin-top: 1em;
  background-color: red;
  border: none;
  color: white;
  font-size: 14px;
  padding: 0.5em;
  font-weight: bold;
}
