.addNewComment {
  margin: auto;
  margin-top: 2em;
  background-color: white;
  width: 100%;
  max-width: 40em;
  text-align: center;
}

.addNewComment form {
  margin: 0;
  padding: 0;
}

.addNewComment textarea {
  margin: auto;
  width: 100%;
  max-width: 70vw;
  height: 80px;
  resize: none;
  padding: 0;
}

.submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addNewComment button {
  width: 100px;
  height: 40px;
  display: block;
  text-align: center;
  background-color: #29b4eb;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 10px;
}
