.article {
  border: 1px solid rgb(221, 221, 221);
  padding: 2em;
  background: white;
  margin-top: 1em;
  max-width: 90vw;
  width: 70em;
  overflow: hidden;
}

.article-content {
  margin: auto;
  max-width: 40em;
}

.article-content h1 {
  text-align: center;
}

.article-content button {
  background-color: green;
  color: white;
  border: none;
  text-align: center;
}
