.header-wrapper {
  min-height: 150px;
  display: grid;
  place-items: center;
  background-color: white;
  border-bottom: 1px solid #fff2e9;
}

header {
  margin: 20px;
  font-weight: bold;
  margin-top: 0;
}

header h1 {
  margin: 0.5em;
  font-size: 3em;
  color: #29b4eb;
  margin-top: 0.5em;
}

header p {
  display: flex;
  justify-content: center;
}

header p a {
  text-decoration: none;
  color: #1c2325;
  font-size: large;
}

header button {
  margin: auto;
  background-color: red;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 0;
  flex-wrap: wrap;
  max-width: 100vw;
}

.navbar li {
  margin: 20px;
  font-size: 20px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar a:hover {
  color: inherit;
  text-decoration: underline;
}
