.header-wrapper {
  border-bottom: 1px solid rgb(216, 216, 216);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

header {
  color: red;
  margin: 20px;
  font-weight: bold;
}

header h1 {
  margin: 0.5em;
  font-size: 3em;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 0;
}

.navbar li {
  margin: 20px;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: red;
}
