.header-wrapper {
  border-bottom: 1px solid red;
}

header {
  color: red;
  margin: 20px;
  font-weight: bold;
}

header h1 {
  margin: 0.5em;
  font-size: 3em;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 0;
}

.navbar li {
  margin-right: 10px;
  margin-left: 10px;
}

.navbar a {
  text-decoration: none;
  color: red;
}
