.login-page {
  border: 1px solid rgb(221, 221, 221);
  padding: 2em;
  background: white;
  margin-top: 1em;
  max-width: 80em;
  width: 100%;
}

.login-page form {
  margin: 0 auto;
  width: 300px;
  max-width: 90vw;
}

.login-page p {
  margin: 0 auto;
  width: 300px;
  max-width: 90vw;
}

.login-page form input[type="email"],
[type="password"] {
  width: 100%;
}

.login-page button {
  width: 100%;
  height: 50px;
  background-color: #29b4eb;
  color: white;
  border: none;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.socialAuths {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.googleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  background: #ffffff;
  position: relative;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border: solid rgb(196, 196, 196) 1px;
}

.googleContainer img {
  width: 12.5%;
  height: 100%;
  object-fit: contain;
  left: 10px;
  border-radius: 3px;
  position: absolute;
}

.googleContainer p {
  margin-left: 4rem;
}

.facebookContainer {
  background: #000dff;
  border: none;
}

.facebookContainer img {
  width: 20%;
  left: 0px;
}

.facebookContainer p {
  color: white;
}
